.quotations-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.quotation-new {
  margin: 24px;
  display: flex;
  justify-content: flex-end;
}
