.banner-logo-martin {
  margin-top: 48px;
  .logo-martin {
    width: 92%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

}

.quotation-customer {
  margin-right: 32px;


}
.quotation-bottom {

  color: gray;
  margin: 24px;
}
