.banner-logo-martin {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  .logo-martin {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

}

.quotation-customer {
  margin-right: 32px;
  display: flex;
  justify-content: flex-end;
}
.quotation-bottom {
  display: flex;
  flex-direction: column;
}

.quotation-bottom1 {
  margin: 0 24px ;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.quotation-bottom2 {
  margin-top: 8px;
  margin-right:  24px ;
  margin-left:  24px ;
  display: flex;
  justify-content: space-between;
  color: gray;
}
