<h1>Liste clients</h1>

<div class="new-customer">
  <%= link_to 'ajouter un client', new_customer_path, class: 'btn btn-primary' %>
</div>

<ul>
  <% @customers.each do |customer| %>
    <%= link_to customer_path(customer) do %>
      <li style="margin-top: 12px;"><%= customer.first_name.capitalize%> <%= customer.last_name.capitalize%>  </li>
    <% end %>
  <% end %>
</ul>
