<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.batiscript.com/app/uploads/2022/03/Adobestock-r%C3%A9union-chantier-consultation.jpeg);">
  <div class="container">
    <h1>Devis-app-V1<strong> création de devis</strong> pour <strong>les pros du btp</strong>!</h1>
    <p>Ne perdez plus de temps à faire vos devis </p>
  </div>
</div>
